<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no" />
    <meta name="description" content="" />
    <meta name="author" content="" />
    <title>Simple API Requester</title>

    // bootstrap
    <link rel="stylesheet" href="/bootstrap/sb-admin/css/styles.css" />
    <script type="text/javascript" src="/bootstrap/sb-admin/js/scripts.js"></script>
    <script type="text/javascript" src="/bootstrap/bootstrap.bundle.min.js"></script>

    // fontawesome
    <script type="text/javascript" src="/fontawesome/all.js"></script>

    // jquery
    <script type="text/javascript" src="/jquery/jquery-3.6.0.min.js"></script>

    // codemirror
    <link rel="stylesheet" type="text/css" href="/codemirror/lib/codemirror.css">
    <link rel="stylesheet" type="text/css" href="/codemirror/theme/darcula.css">
    <link rel="stylesheet" type="text/css" href="/codemirror/addon/fold/foldgutter.css">
    <script type="text/javascript" src="/codemirror/lib/codemirror.js"></script>
    <script type="text/javascript" src="/codemirror/addon/fold/brace-fold.js"></script>
    <script type="text/javascript" src="/codemirror/addon/fold/foldcode.js"></script>
    <script type="text/javascript" src="/codemirror/addon/fold/foldgutter.js"></script>
    <script type="text/javascript" src="/codemirror/addon/selection/active-line.js"></script>
    <script type="text/javascript" src="/codemirror/mode/javascript/javascript.js"></script>

</head>
<body class="sb-nav-fixed">
<nav class="sb-topnav navbar navbar-expand navbar-dark bg-dark">
    <!-- Navbar Brand-->
    <a class="navbar-brand ps-3" href="default.html">Simple API Requester</a>
    <!-- Sidebar Toggle-->
    <button class="btn btn-link btn-sm order-1 order-lg-0 me-4 me-lg-0" id="sidebarToggle" href="#!"><i class="fas fa-bars"></i></button>
    <!-- Navbar-->
    <ul class="navbar-nav ms-auto ms-md-0 me-3 me-lg-4">
        <li class="nav-item dropdown">
            <a class="nav-link dropdown-toggle" id="navbarDropdown" href="#" role="button" data-bs-toggle="dropdown" aria-expanded="false"><i class="fas fa-user fa-fw"></i></a>
            <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                <li><a class="dropdown-item" href="/collectionForm">Setting Collections</a></li>
                <li><a class="dropdown-item" href="#!">Setting Environment</a></li>
                <li><hr class="dropdown-divider" /></li>
                <li><a class="dropdown-item" href="/shutdown">shutdown</a></li>
            </ul>
        </li>
    </ul>
</nav>
<div id="layoutSidenav">
    <div id="layoutSidenav_nav">
        <nav class="sb-sidenav accordion sb-sidenav-dark" id="sidenavAccordion">
            <div class="sb-sidenav-menu">
                <div class="nav">
                    <div th:each="collection : ${collections}">
                        <div class="sb-sidenav-menu-heading" th:text="${collection.value.getName()}"></div>
                        <div th:each="workspace : ${collection.value.getWorkspaces()}">
                            <a class="nav-link collapsed"
                               data-bs-toggle="collapse"
                               th:data-bs-target="'#ws' + ${workspace.value.getName()}"
                               aria-expanded="false"
                               th:aria-controls="'ws' + ${workspace.value.getName()}">
                                <div class="sb-nav-link-icon"><i class="fas fa-columns"></i></div>
                                <span th:text="${workspace.value.getName()}"></span>
                                <div class="sb-sidenav-collapse-arrow"><i class="fas fa-angle-down"></i></div>
                            </a>
                            <div class="collapse" th:id="'ws' + ${workspace.value.getName()}" aria-labelledby="headingOne" data-bs-parent="#sidenavAccordion">
                                <nav class="sb-sidenav-menu-nested nav">
                                    <div th:each="item : ${workspace.value.getItems()}">
                                        <a class="nav-link"
                                           th:href="@{/request/{collectionKey}/{workspaceKey}/{itemKey}(collectionKey=${collection.value.getName()}, workspaceKey=${workspace.value.getName()}, itemKey=${item.value.getName()})}"
                                           th:text="${item.key}"></a>
                                    </div>
                                </nav>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="sb-sidenav-footer">
                <div class="small">v0.0.3</div>
            </div>
        </nav>
    </div>

    <div layout:fragment="content">
        <!-- Dynamic content will be injected here -->
    </div>
</div>
</body>
</html>
