<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/schema/layout" layout:decorate="~{default}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
<!--  <link rel="stylesheet" href="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/styles/agate.min.css">-->
<!--  <script src="//cdnjs.cloudflare.com/ajax/libs/highlight.js/11.2.0/highlight.min.js"></script>-->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
</head>

<div layout:fragment="content" id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <form id="form" th:action="@{/request}" method="post">
        <div class="row">
          <div class="col-4">
            <h6 class="my-3 border-bottom pb-2">URL</h6>
          </div>
          <div class="col-6">
            <h6 class="my-3 border-bottom pb-2">Response</h6>
          </div>
        </div>

        <div class="row">
          <div class="col-4">
            <div class="input-group mb-3">
              <select class="form-select-sm" name="httpMethod" aria-label="HTTP Method">
                <option value="GET">GET</option>
                <option value="POST">POST</option>
                <option value="PUT">PUT</option>
                <option value="DELETE">DELETE</option>
              </select>
              <input type="text" name="url" id="url" class="form-control" placeholder="Enter URL" aria-describedby="btnGroupAddon" required th:value="${url}">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Enter</button>
            </div>

            <div class="mb-3">
              <label for="headers" class="form-label">Headers</label>
              <div id="header-container">
                <!-- 컨트롤러로부터 받은 헤더를 기반으로 동적으로 입력 필드 생성 -->
                <div class="input-group mb-2" th:each="header : ${headers}">
                  <input type="text" class="form-control" name="headersKey" placeholder="Header Key" th:value="${header.key}">
                  <input type="text" class="form-control" name="headersValue" placeholder="Header Value" th:value="${header.value}">
                  <button class="btn btn-danger" type="button" onclick="removeHeader(this)">Del</button>
                </div>
              </div>
              <button class="btn btn-primary" type="button" onclick="addHeader()">Add</button>
            </div>

            <div class="mb-3">
              <label for="body" class="form-label">Body</label>
              <textarea id="body" name="body" style="display:none;" th:text="${body}"></textarea>
              <div id="editor"></div>
            </div>
          </div>

          <div class="col-6">
            <div id="responseContainer" class="border p-2" style="height: 400px; overflow-y: auto;">
              <div id="responseEditor">
                <textarea id="responseTextarea" style="display:none;" th:text="${response}"></textarea>
              </div>
            </div>
          </div>
        </div>
      </form>
    </div>

    <script>

      const editor = CodeMirror(document.getElementById("editor"), {
          mode: "application/json",
          lineNumbers: true,
          lineWrapping: true,
          theme: "default",
          value: ''
      });

      const responseEditor = CodeMirror(document.getElementById("responseEditor"), {
          mode: "application/json",
          lineNumbers: true,
          lineWrapping: true,
          theme: "default",
          readOnly: true, // 읽기 전용으로 설정
          value: '' // 기본값을 빈 문자열로 설정
      });

      window.onload = function() {
          const initialBody = document.getElementById("body").value;
          editor.setValue(initialBody);

          const initialResponse = document.getElementById("responseTextarea").value;
          responseEditor.setValue(initialResponse);
      };

      document.getElementById('form').onsubmit = function() {
          const jsonValue = editor.getValue();
          document.getElementById('body').value = jsonValue;
      };

      function addHeader() {
          const headerContainer = document.getElementById("header-container");
          const inputGroup = document.createElement("div");
          inputGroup.className = "input-group mb-2";
          inputGroup.innerHTML = `
              <input type="text" class="form-control" name="headersKey" placeholder="Header Key">
              <input type="text" class="form-control" name="headersValue" placeholder="Header Value">
              <button class="btn btn-danger" type="button" onclick="removeHeader(this)">Del</button>
          `;
          headerContainer.appendChild(inputGroup);
      }

      function removeHeader(button) {
          const inputGroup = button.parentElement;
          inputGroup.remove();
      }
    </script>
  </main>
</div>
</html>