<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/schema/layout"
      layout:decorate="~{default}">

<div layout:fragment="content" id="layoutSidenav_content">
    <main>
        <div class="container-fluid px-4 pb-4">
            <form id="form" th:action="@{/request}" method="post">

                <input type="hidden" name="collectionName" th:value="${collectionName}"/>
                <input type="hidden" name="workspaceName" th:value="${workspaceName}"/>
                <input type="hidden" name="itemName" th:value="${itemName}"/>

                <div class="row">
                    <div class="col-6">
                        <h6 class="my-3 border-bottom pb-2">Request</h6>
                    </div>
                    <div class="col-6">
                        <h6 class="my-3 border-bottom pb-2">Response</h6>
                    </div>
                </div>

                <div class="row">
                    <div class="col-6 border-right">

                        <div class="input-group mb-3">
                            <select class="form-select-sm" name="httpMethod" aria-label="HTTP Method">
                                <option value="GET" th:selected="${httpMethod == 'GET'}">GET</option>
                                <option value="POST" th:selected="${httpMethod == 'POST'}">POST</option>
                                <option value="PUT" th:selected="${httpMethod == 'PUT'}">PUT</option>
                                <option value="DELETE" th:selected="${httpMethod == 'DELETE'}">DELETE</option>
                            </select>
                            <input type="text" name="url" id="url" class="form-control" placeholder="Enter URL"
                                   aria-describedby="btnGroupAddon" required th:value="${url}">
                            <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Enter</button>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Headers</label>
                            <div id="header-container">
                                <div class="input-group mb-2" th:each="header : ${headers}">
                                    <input type="text" class="form-control-sm" name="headersKey"
                                           placeholder="Header Key" th:value="${header.key}">
                                    <input type="text" class="form-control-sm" name="headersValue"
                                           placeholder="Header Value" th:value="${header.value}">
                                    <button class="btn btn-danger" type="button" onclick="removeHeader(this)">Del
                                    </button>
                                </div>
                            </div>
                            <button class="btn btn-primary" type="button" onclick="addHeader()">Add</button>
                        </div>

                        <div class="mb-3">
                            <label class="form-label">Content-Type</label>
                            <br>
                            <input type="radio" id="json" name="contentType" value="json"
                                   th:checked="${contentType == 'json'}">
                            <label for="json">Json</label>
                            <input type="radio" id="text" name="contentType" value="text"
                                   th:checked="${contentType == 'text'}">
                            <label for="text">Text</label>
                            <input type="radio" id="formUrlEncoded" name="contentType" value="form-urlencoded"
                                   th:checked="${contentType == 'form-urlencoded'}">
                            <label for="formUrlEncoded">form-urlencoded</label>
                        </div>

                        <div class="mb-3">
                            <label for="body" class="form-label">Body</label>
                            <textarea id="body" name="body" style="display:none;" th:text="${body}"></textarea>
                            <div id="editor"></div>
                        </div>
                    </div>

                    <div class="col-6">
                        <div class="mb-3">
                            <div id="responseEditor"></div>
                            <textarea id="responseTextarea" style="display:none;" th:text="${response}"></textarea>
                        </div>
                    </div>
                </div>
            </form>
        </div>

        <script>
      document.addEventListener('keydown', function(event) {
          if (event.ctrlKey && event.key === 'Enter') {
              event.preventDefault();
              document.getElementById('form').submit();
          }
      });

      const editor = CodeMirror(document.getElementById("editor"), {
          mode: {name: "javascript", json: true},
          lineNumbers: true,
          lineWrapping: true,
          theme: "default",
          styleActiveLine: true,
          value: '',
          autoCloseBrackets: true,
          matchBrackets: true,
          foldGutter: true,
          gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
      });

      const responseEditor = CodeMirror(document.getElementById("responseEditor"), {
          mode: {name: "javascript", json: true},
          lineNumbers: true,
          lineWrapping: true,
          theme: "dracula",
          styleActiveLine: true,
          readOnly: true,
          matchBrackets: true,
          foldGutter: true,
          gutters: ["CodeMirror-linenumbers", "CodeMirror-foldgutter"]
      });

      window.onload = function() {
          const initialBody = document.getElementById("body").value;
          editor.setValue(initialBody);

          const initialResponse = document.getElementById("responseTextarea").value;
          responseEditor.setValue(initialResponse);

          editor.setSize("100%", "300px");
          responseEditor.setSize("100%", "600px");
      };

      document.getElementById('form').onsubmit = function() {
          const jsonValue = editor.getValue();
          document.getElementById('body').value = jsonValue;
      };

      function addHeader() {
          const headerContainer = document.getElementById("header-container");
          const inputGroup = document.createElement("div");
          inputGroup.className = "input-group mb-2";
          inputGroup.innerHTML = `
              <input type="text" class="form-control-sm" name="headersKey" placeholder="Header Key">
              <input type="text" class="form-control-sm" name="headersValue" placeholder="Header Value">
              <button class="btn btn-danger" type="button" onclick="removeHeader(this)">Del</button>
          `;
          headerContainer.appendChild(inputGroup);
      }

      function removeHeader(button) {
          const inputGroup = button.parentElement;
          inputGroup.remove();
      }










        </script>
    </main>
</div>
</html>
