<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/schema/layout" layout:decorate="~{default}">

<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <!-- CodeMirror CSS -->
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/theme/darcula.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/selection/active-line.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/display/fullscreen.min.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/display/gutters.min.css"> <!-- gutters 추가 -->

  <!-- CodeMirror JS -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/codemirror.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/mode/javascript/javascript.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/selection/active-line.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/display/fullscreen.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/display/gutters.min.js"></script> <!-- gutters 기능 추가 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/fold/foldcode.min.js"></script> <!-- folding 기능 추가 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/fold/foldgutter.min.js"></script> <!-- foldgutter 추가 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/fold/brace-fold.min.js"></script> <!-- 중괄호 folding 추가 -->
  <script src="https://cdnjs.cloudflare.com/ajax/libs/codemirror/5.65.5/addon/fold/xml-fold.min.js"></script> <!-- XML folding 추가 -->

  <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
  <style>
      /* CodeMirror 에디터 높이 조정 */
      .CodeMirror {
          border: 1px solid #ccc; /* 테두리 추가 */
          font-size: 11px; /* 폰트 크기 설정 */
      }
      .border-right {
          border-right: 1px solid #ccc; /* 경계선 추가 */
          height: 100vh;
      }
  </style>
</head>

<div layout:fragment="content" id="layoutSidenav_content">
  <main>
    <div class="container-fluid px-4">
      <form id="form" th:action="@{/request}" method="post">

        <input type="hidden" name="collectionName" th:value="${collectionName}"/>
        <input type="hidden" name="workspaceName" th:value="${workspaceName}"/>
        <input type="hidden" name="itemName" th:value="${itemName}"/>

        <div class="row">
          <div class="col-4">
            <h6 class="my-3 border-bottom pb-2">URL</h6>
          </div>
          <div class="col-6">
            <h6 class="my-3 border-bottom pb-2">Response</h6>
          </div>
        </div>

        <div class="row">
          <div class="col-4 border-right">
            <div class="input-group mb-3">
              <select class="form-select-sm" name="httpMethod" aria-label="HTTP Method">
                <option value="GET" th:selected="${httpMethod == 'GET'}">GET</option>
                <option value="POST" th:selected="${httpMethod == 'POST'}">POST</option>
                <option value="PUT" th:selected="${httpMethod == 'PUT'}">PUT</option>
                <option value="DELETE" th:selected="${httpMethod == 'DELETE'}">DELETE</option>
              </select>
              <input type="text" name="url" id="url" class="form-control" placeholder="Enter URL" aria-describedby="btnGroupAddon" required th:value="${url}">
              <button class="btn btn-outline-secondary" type="submit" id="button-addon2">Enter</button>
            </div>

            <div class="mb-3">
              <label class="form-label">Headers</label>
              <div id="header-container">
                <div class="input-group mb-2" th:each="header : ${headers}">
                  <input type="text" class="form-control" name="headersKey" placeholder="Header Key" th:value="${header.key}">
                  <input type="text" class="form-control" name="headersValue" placeholder="Header Value" th:value="${header.value}">
                  <button class="btn btn-danger" type="button" onclick="removeHeader(this)">Del</button>
                </div>
              </div>
              <button class="btn btn-primary" type="button" onclick="addHeader()">Add</button>
            </div>

            <div class="mb-3">
              <label for="body" class="form-label">Body</label>
              <textarea id="body" name="body" style="display:none;" th:text="${body}"></textarea>
              <div id="editor"></div>
            </div>
          </div>

          <div class="col-6">
            <div class="mb-3">
              <div id="responseEditor"></div>
              <textarea id="responseTextarea" style="display:none;" th:text="${response}"></textarea>
            </div>
          </div>
        </div>
      </form>
    </div>

    <script>
      const editor = CodeMirror(document.getElementById("editor"), {
          mode: "application/json",
          lineNumbers: true,
          lineWrapping: true,
          theme: "default",
          styleActiveLine: true, // 현재 활성화된 줄의 스타일을 적용
          value: ''
      });

      const responseEditor = CodeMirror(document.getElementById("responseEditor"), {
          mode: "application/json",
          lineNumbers: true,
          lineWrapping: true,
          theme: "darcula", // 테마를 'darcula'로 변경
          styleActiveLine: true, // 현재 활성화된 줄의 스타일을 적용
      });

      window.onload = function() {
          const initialBody = document.getElementById("body").value;
          editor.setValue(initialBody);

          const initialResponse = document.getElementById("responseTextarea").value;
          responseEditor.setValue(initialResponse);

          // 높이를 설정
          editor.setSize("100%", "300px");
          responseEditor.setSize("100%", "500px");
      };

      document.getElementById('form').onsubmit = function() {
          const jsonValue = editor.getValue();
          document.getElementById('body').value = jsonValue;
      };

      function addHeader() {
          const headerContainer = document.getElementById("header-container");
          const inputGroup = document.createElement("div");
          inputGroup.className = "input-group mb-2";
          inputGroup.innerHTML = `
              <input type="text" class="form-control" name="headersKey" placeholder="Header Key">
              <input type="text" class="form-control" name="headersValue" placeholder="Header Value">
              <button class="btn btn-danger" type="button" onclick="removeHeader(this)">Del</button>
          `;
          headerContainer.appendChild(inputGroup);
      }

      function removeHeader(button) {
          const inputGroup = button.parentElement;
          inputGroup.remove();
      }
    </script>
  </main>
</div>
</html>
