<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org" xmlns:layout="http://www.thymeleaf.org/schema/layout" layout:decorate="~{default}">

<div layout:fragment="content" id="layoutSidenav_content">
  <main>
      <div class="container-fluid px-4 pb-4">

        <div class="row">
          <div class="col-6">
            <h6 class="my-3 border-bottom pb-2">Select environment name</h6>
          </div>
          <div class="col-6">
            <h6 class="my-3 border-bottom pb-2">Select activated environment</h6>
          </div>
        </div>

        <div class="row">
          <div class="col-6 border-right">
            <form id="form" th:action="@{/env}" method="get">
              <div class="mb-3">
                <select name="envName" id="envName" class="form-control" required>
                  <option value="NEW_ENVIRONMENT">(New)</option>
                  <option th:each="env : ${envNames}" th:value="${env}" th:text="${env}"></option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Config</button>

            </form>
          </div>

          <div class="col-6">
            <form id="activateForm" th:action="@{/env/activation}" method="post">
              <div class="mb-3">
                <select name="activateEnvName" id="activateEnvName" class="form-control" required>
                  <option value="None">(None)</option>
                  <option th:each="env : ${envNames}" th:value="${env}" th:text="${env}" th:if="${env} != ${exceptEnvName}"></option>
                </select>
              </div>
              <button type="submit" class="btn btn-primary">Activate</button>
            </form>
          </div>
        </div>

        <div class="row">
          <div class="col-6">
            <h6 class="my-3 border-bottom pb-2">Delete environment name</h6>
          </div>
        </div>

        <div class="row">
          <div class="col-6 border-right">
            <form id="delete" th:action="@{/env}" method="post">
              <input type="hidden" name="_method" value="delete"/> <!-- 추가된 부분 -->
              <div class="mb-3">
                <select name="deleteEnvName" id="deleteEnvName" class="form-control" required>
                  <option th:each="env : ${envNames}" th:value="${env}" th:text="${env}" th:if="${env} != ${exceptEnvName}"></option>
                </select>
              </div>
              <button type="submit" class="btn btn-danger">Delete</button>
            </form>
          </div>
        </div>

      </div>
  </main>
</div>
</html>


